<tr>
  <td>C<%=comment.comment_owner.client.id %>P<%= comment.comment_owner_id %></td>
  <td><%= comment.description %></td>
  <td><%= truncate(comment.content, :length => 80) %></td>
  <td><%= comment.user.name %></td>
  <td><%= link_to 'Show', comment %></td>
  <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
  <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>