<tr>
  <td><%= invoice.project_id %></td>
  <td><%= invoice.total_sum %></td>
  <td><%= invoice.due_date %></td>
  <td><%= invoice.remaining_sum %></td>
  <td><%= invoice.created_at %></td>
  <td><%= link_to 'Voir', invoice %></td>
  <td><%= link_to 'Modifier', edit_invoice_path(invoice) %></td>
  <td><%= link_to 'Detruire', invoice, :confirm => 'Etes-vous sûre?', :method => :delete %></td>
</tr>