<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%=@invoice.project.client.surname+' '+ @invoice.project.client.name%>
</p>

<p>
  <b>Project:</b>
  <%='C'+@invoice.project.client.id.to_s+'P'+@invoice.project.project_ref.to_s %>
</p>

<p>
  <b>Total sum:</b>
  <%= @invoice.total_sum %>
</p>

<p>
  <b>Due date:</b>
  <%= @invoice.due_date %>
</p>

<p>
  <b>Remaining sum:</b>
  <%= @invoice.remaining_sum %>
</p>
<p>
  <b>Date de création:</b>
  <%= @invoice.created_at %>
</p>
<div id="payments_table">
<table>
  <tr>
    <th>
      ref facture
    </th>
    <th>
      Somme payée
    </th>
    <th>
      Créer le
    </th>
  </tr>
  <%@invoice.payments.each do |payment|%>
     <tr>
       <td>
         <%=payment.invoice_id %>
       </td>
       <td>
         <%=payment.sum_paid %>
       </td>
       <td>
         <%=payment.created_at %>
       </td>
        <td>
         <%=link_to 'Detruire', payments_destroy_path(payment.id) %>
       </td>
     </tr>
  <% end %>
</table>
</div>

<% content_for :sidebar do %>
  <div id="vertmenu">
      <ul id="sidebarmenu1">

        <li>
          <%= link_to 'Nouveau paiement js', new_payments_path(@invoice,:format=>:js),:remote=>true %>
       </li>
<li>
         <%= link_to 'Nouveau paiement', new_payments_path(@invoice) %> |
       </li>
        <li>
         <%= link_to 'Modifier', edit_invoice_path(@invoice) %> |
       </li>    <li>
         <%= link_to 'Retour', project_invoices_path(@invoice.project_id) %>
       </li>
       </ul>
  </div>
<% end%>

 



