<h1>Users#show</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%=@user.id %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>


<%= link_to 'Back', users_path %>
<td><%= #noinspection RubyArgCount
            link_to 'Edit', edit_user_path(@user) %></td>
<%= #noinspection RubyArgCountlink_to 'Profile',user_user_profiles_path(@user)
            profile_show_or_create_link @user %>
<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Has_project?</th>
    <th></th>
    <th></th>
  </tr>
<%=render :partial=> 'clients/client_list',:collection => @user.clients ,:as=>:client %>
</table>
<%= link_to'upload' ,:controller =>'users' ,:action=>'upload_a_file'%>
<%= link_to'voir dossier personnel' ,:controller =>'file_browser' ,:action=>'user_list'%>