<h1>Users#show</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%=@user.id %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>



<%= link_to 'Back', users_path %>
<td><%= #noinspection RubyArgCount
            link_to 'Edit', edit_user_path(@user) %></td>
<%= #noinspection RubyArgCountlink_to 'Profile',user_user_profiles_path(@user)
            profile_show_or_create_link @user %>