<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @message_box.description %>
</p>

<p>
  <b>Box type:</b>
  <%= @message_box.box_type %>
</p>
<table>
<%=render :partial=>'comments/comment_list', :collection=>@message_box.comments ,:as=>:comment%>
</table>
<%= link_to 'Nouveau message', new_message_box_comment_path(@message_box) %> |
<%= link_to 'Edit', edit_message_box_path(@message_box) %> |
<%= link_to 'Back', redirect_back_to_owner_polymorphic(@message_box) %>
