<div class="fields">
  <fieldset>
    
    <%= f.label :description %><br>
    <%= f.text_field :description %><br>
    <%= f.label :genre,'Type de contact: ' %><br>
    <%= f.select :genre, get_contact_type  %><br>
    <%= f.label :contact_data,'Donnée du Contact' %><br>
    <%= f.text_field :contact_data %><br>
    <%= link_to_remove_fields "Effacer Contact", f %>
  </fieldset>

</div>    