<tr>
  <td><%= client.titre %></td>
  <td><%= client.name %></td>
  <td><%= client.surname %></td>
  <td><%= client.reference%></td>
  <td><%= client.client_type%></td>
  <td><%= client.society%></td>
  <td><%= client.has_projects? %></td>
  <td><%= client.client_state %></td>
  <td><%= link_to 'Voir', client %></td>
  <td><%= link_to 'Modifier', edit_client_path(client) %></td>
  <td><%= link_to 'Effacer', client, :confirm => 'Êtes-vous sûre ?', :method => :delete %></td>
</tr>
