<p id="notice"><%= notice %></p>


<p>
  <b>Titre:</b>
  <%= @client.titre %>
</p>
<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @client.surname %>
</p>
<p>
  <b>Reference:</b>
  <%= @client.reference %>
</p>

 <%= link_to 'Create Project ' ,client_projects_path(@client.id)%>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
