<p id="notice"><%= notice %></p>


<p>
  <b>Titre:</b>
  <%= @client.titre %>
</p>
<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @client.surname %>
</p>
<p>
  <b>Reference:</b>
  <%= @client.reference %>
</p>
<p>
<b>Type de Client:</b>
 <%= @client.client_type %>
   </p>
   <p>
 <b>Societée:</b>
 <%= @client.society %>
   </p>
<p>
<b>A des Projets:</b>
 <%= @client.has_projects? %>
   </p>
   <p>
 <b>Etat:</b>
 <%= @client.client_state %>
   </p>
<fieldset>
   <legend><%= set_legend"Addresse de #{@client.name}"  %></legend>
   <%= if !@client.addresses.empty? then render :partial => "shared/address_show" ,:collection=> @client.addresses ,:as=>:address end%>
</fieldset>
<fieldset>
   <legend><%= set_legend"Informations de contact de #{@client.name}"  %></legend>
  <%= if !@client.contacts.empty? then render :partial => "shared/contact_show", :collection => @client.contacts ,:as=>:contact end%>
</fieldset>
<fieldset>
   <legend><%= set_legend"Informations financiere de #{@client.name}"  %></legend>
  <%= if !@client.financial_data.nil? then render :partial => "financial_data_show", :object => @client.financial_data ,:as=>:financial_data end%>
</fieldset>

 <%= link_to 'Create Project ' ,client_projects_path(@client.id)%>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
