<fieldset>
<p><b>Numero : </b><%=address.street_number%></p>
<p><b>Rue    : </b><%=address.street%></p>
<p><b>Code postal: </b><%=address.zip%></p>
<p><b>Ville : </b><%=address.city%></p>
<p><b>Pays : </b><%=address.country%></p>
</fieldset>