<div class="fields">
  <fieldset>

    <%= f.label :description %><br>
    <%= f.text_field :description %><br>
    <%= f.label :genre %><br>
    <%= f.text_field :genre %><br>
    <%= f.label :contact_data %><br>
    <%= f.text_field :contact_data %><br>
    <%= link_to_remove_fields "remove", f %>
</fieldset>
</div>    