
<%= form_for(@user_profile) do |f| %>
  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>
    <%="Profile de #{set_legend @user_profile.user.name}." %>
  </legend>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name , %>
    
  </div>
    <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>

  <div class="field">
    <%=  f.hidden_field :user_id , :value => @user_profile.user_id%>
  </div>
 <div class="span-15">
   <%=label_tag 'modifier addresse'%>
 <input type="button" value="Activer" id="toggle_address_fields">

 </div>
 <div id="address" class="span-12">
  <fieldset>


    <legend><%= set_legend 'Addresse' %></legend>
    <%= f.fields_for :address do |address_form| %>
        <%= render 'address_fields',:f=>address_form %>
     <% end %>

   </fieldset>
 </div>
  <div class="span-15">
   <%=label_tag 'modifier contacts'%>
   <input type="button" value="Activer" id="toggle_contact_fields">
   </div>
  <div id='contact' class='span-12'>
   <fieldset>
    <legend><%= set_legend 'Contactes' %></legend>
    <% f.fields_for :contacts do |contact_form| %>
        <%= render 'contact_fields' ,:f=>contact_form%>
     <% end %>
    <p><%= link_to_add_fields "Add Contact", f, :contacts %></p>
   </fieldset>
   </div>

</fieldset>
  <div class="actions">
    <%= f.submit %>

  </div>


<% end %>