
 <fieldset>
<legend><%="Profil de #{profile_owner(@user_profile).name}"%></legend>

  <b>Nom:</b>
  <%= @user_profile.name %>
</p>

<p>
  <b>Prénom:</b>
  <%= @user_profile.surname %>
</p>
<fieldset>
   <%=  render :partial => "address_show" ,:object=> @user_profile.address ,:as=>:address%>
</fieldset>
<fieldset>
   <legend><%= set_legend"Informations de contact de #{profile_owner(@user_profile).name}"  %></legend>
  <%=  render :partial => "contact_show", :collection => @user_profile.contacts ,:as=>:contact%>
</fieldset>

</fieldset>

<%= link_to 'Back', users_path %>

<td><%= link_to 'Edit', edit_user_user_profiles_path(@user_profile.user_id) %></td>