

<div id="first_content">
<p>
  <b>Nom:</b>
  <%= @user_profile.name %>
</p>
<p>
  <b>Prénom:</b>
  <%= @user_profile.surname %>
</p>
</div>

 <div id="info" class="span-19">
        <ul>

          <li><a href="#addresses">Addresse de <%=@user_profile.surname %></a></li>
          <li><a href="#contacts">Informations contact de <%=@user_profile.surname %></a></li>

        </ul>
<div id="addresses">
   <%= if @user_profile.address !=nil then render :partial => "shared/address_show" ,:object=> @user_profile.address ,:as=>:address end%>
</div>
<div id="contacts">
  <%= if !@user_profile.contacts.empty? then render :partial => "shared/contact_show", :collection => @user_profile.contacts ,:as=>:contact end%>
</div>
</div>
<%= link_to 'Retour a l utilisateur' , user_path(@user_profile.user_id)%>
<%= link_to 'Retour a la page d Acceuil', root_path %>

<td><%= link_to 'Modifier profile', edit_user_user_profiles_path(@user_profile.user_id) %></td>