

<legend><%="Profil de #{profile_owner(@user_profile).name}"%></legend>

  <b>Nom:</b>
  <%= @user_profile.name %>
</p>

<p>
  <b>Prénom:</b>
  <%= @user_profile.surname %>
</p>
<div id="addresses">
   <%= if @user_profile.address !=nil then render :partial => "shared/address_show" ,:object=> @user_profile.address ,:as=>:address end%>
</div>
<div id="contacts">
  <%= if !@user_profile.contacts.empty? then render :partial => "shared/contact_show", :collection => @user_profile.contacts ,:as=>:contact end%>
</div>

<%= link_to 'Back', root_path %>

<td><%= link_to 'Edit', edit_user_user_profiles_path(@user_profile.user_id) %></td>