<tr>
    <td><%= uploaded.id %></td>
    <td><a rel='image' href="<%= uploaded.file_url %>"><%= uploaded.filename %>  </a> </td>
    <td><%= uploaded.file_url %></td>
    <td><%= content_type_img(uploaded) %></td>
    <td><%= number_to_human_size(uploaded.file_size) %></td>
    <td><%=  link_to "Download #{uploaded.filename}", :controller=>'files',:action => 'download' ,:id =>uploaded %></td>
    <td><%= link_to 'Destroy', file_path(uploaded), :confirm => 'Are you sure?', :method => :delete %></td>
</tr>