<!DOCTYPE html>
<html>
<head>
  <title><%= title  %></title>
  <%= stylesheet_link_tag 'blueprint/screen', 'blueprint/O-W', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container" >

  <div class="span-24 last" id="container">
    <div class="span-24 last" id="header">
      <div class="span-16 header box"></div>
      <div id='sign_in_status_box ' class="span-6 last header box"> <%= show_sign_in_status %></div>
    </div>
    <div class="clear span-24 last" id="content">
      <div class="span-4 column  box" id="sidebar"></div>

      <div class="span-18 column last" id="content_column">
        <%=show_flash %>
        <%= yield %>

    </div>
    <div class="clear span-24 last " id="footer"> 
       <%= debug(params) if Rails.env.development? %> </div>
    </div>
  </div>
</div>
</body>
</html>

